<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>로그인A&gt;홈</title>

    <link rel="shortcut icon" type="image/x-icon" href="https://www.mgcap.co.kr/favicon.ico" />
    <link rel="stylesheet" href="../../assets/css/com/default.css" />
    <link rel="stylesheet" href="../../assets/css/com/common.css" />
    <link rel="stylesheet" href="../../assets/css/com/style.css" />
    <link rel="stylesheet" href="../../assets/css/com/fonts.css" />
    <link rel="stylesheet" href="../../assets/css/com/layout.css" />
    <link rel="stylesheet" href="../../assets/css/com/input.css" />
    <link rel="stylesheet" href="../../assets/css/com/button.css" />
    <link rel="stylesheet" href="../../assets/css/com/mg_content.css" />
    <script type="text/javascript" src="../../assets/js/lib/jquery-1.12.4.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="../../assets/js/lib/ui_plugin.js"></script>
</head>

<body class="login-a-body">
    <div class="login-a-page">
        <main class="login-a-main">
            <section class="login-a-card" aria-labelledby="login-a-title">
                <div class="login-a-visual" aria-hidden="true">
                    <div class="login-a-glow login-a-glow-1"></div>
                    <div class="login-a-glow login-a-glow-2"></div>
                    <div class="login-a-panel login-a-panel-chart">
                        <span class="line line-1"></span>
                        <span class="line line-2"></span>
                        <span class="line line-3"></span>
                    </div>
                    <div class="login-a-panel login-a-panel-pie"></div>
                    <div class="login-a-panel login-a-panel-list">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="login-a-car">
                        <span class="login-a-car-shadow"></span>
                        <span class="login-a-car-body"></span>
                        <span class="login-a-car-window"></span>
                        <span class="login-a-light login-a-car-light-front"></span>
                        <span class="login-a-light login-a-car-light-back"></span>
                        <span class="login-a-wheel login-a-wheel-left"></span>
                        <span class="login-a-wheel login-a-wheel-right"></span>
                        <span class="login-a-ring login-a-ring-left"></span>
                        <span class="login-a-ring login-a-ring-right"></span>
                    </div>
                </div>

                <div class="login-a-content">
                    <div class="login-a-brand">
                        <img src="../../assets/images/ORIX_logo.png" alt="ORIX Capital 로고" />
                        <h1 class="login-a-brand-title">차량관리시스템</h1>
                        <p class="login-a-brand-subtitle">AUTO MANAGEMENT SYSTEM</p>
                    </div>

                    <div class="login-a-nav" role="tablist" aria-label="회원 유형">
                        <button type="button" role="tab" aria-selected="false">차량관리</button>
                        <button type="button" role="tab" aria-selected="false">협력사</button>
                        <button type="button" role="tab" class="is-active" aria-selected="true">구매회원사</button>
                    </div>

                    <form action="#" method="post" class="login-a-form">
                        <h2 id="login-a-title" class="sr-only">구매회원사 로그인</h2>

                        <div class="login-a-field">
                            <label for="login-a-id" class="sr-only">User ID</label>
                            <span class="login-a-icon login-a-icon-user" aria-hidden="true"></span>
                            <input id="login-a-id" type="text" name="userId" placeholder="User ID를 입력해주세요" />
                        </div>

                        <div class="login-a-field">
                            <label for="login-a-password" class="sr-only">비밀번호</label>
                            <span class="login-a-icon login-a-icon-password" aria-hidden="true"></span>
                            <input id="login-a-password" type="password" name="password" placeholder="비밀번호를 입력해주세요" />
                        </div>

                        <button type="submit" class="login-a-submit">Sign in</button>
                    </form>

                    <p class="login-a-guide">공매도 관리 시스템에 접근하려면 로그인해 주세요.</p>
                </div>
            </section>
        </main>

        <footer class="login-a-footer">
            Copyright(c) 2014 ORIX Capital Korea Corporation. All rights reserved
        </footer>
    </div>
</body>
</html>
